%h1 メールアドレス一覧

%ul.leading-none
  %li 有効な（不達チェックが付いているものを除く）メールアドレスの一覧です
  %li コピー＆ペーストしてメールソフトの送信欄に貼り付けられます
  %li 1人で複数アドレスを登録している方は全てのアドレスが表示されています
  %li 適宜Bccにするなどしてください

%hr

%p
  - @emails.each do |email|
    #{email}
    %br
